# 50 Years of Pop Music: A Lyrical Analysis

- Class activity 3, 9/12/2017 
- Data courtesy of Kaylin Walker: http://kaylinwalker.com/50-years-of-pop-music/

## (1) Read in the spreadsheet file as a DataFrame
- Create a DataFrame called `songs` from the spreadsheet. 
- You will likely run into an encoding error. Who can figure out the correct encoding? 
- Once successfully loaded, explore the DF. Use the following methods: `.head()`, `.tail()`, `.info()`, `.describe()`. 
- What are the column labels and row indexes?
- How to improve organization?

In [1]:
# My Code:
import pandas as pd
songs = pd.read_csv('billboard_lyrics_1964-2015.csv',encoding = 'ISO8859')
#To find out file encoding
    # command in git: 
    # file billboard_lyrics_1964-2015.csv
#For this file, cp1252 also works (this is the windows versions of ASCII)

# Top 20 entries
songs.head(20)

# Last (5) entries
songs.tail()

# Tells you how many entries, the column names, the number of non-null entries, the type of entries...
songs.info()             # like print!!! 
#ranks are integers
#strings are stored as objects (can get arbitrarily long)
#some songs are missing lyrics (4913 entries)
#source: there are 3 sources

songs.describe()
# gives means, min, max, std, etc...

songs.head()
# rows are the automatic indices

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 6 columns):
Rank      5100 non-null int64
Song      5100 non-null object
Artist    5100 non-null object
Year      5100 non-null int64
Lyrics    4913 non-null object
Source    4913 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 239.1+ KB

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

## (2) Reorganize and clean up
- Rearrange the columns so that they are ordered: Year - Rank - Artist - Song - Lyrics. 
- Get rid of Source column. 
- What about the index?

In [2]:
# My Code:

songs = songs[['Year','Rank','Artist','Song','Lyrics']]
type(songs)
songs.head(50)

#selects columns, saving new data frame into the original data frame

,Year,Rank,Artist,Song,Lyrics
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...
1,1965,2,four tops,i cant help myself sugar pie honey bunch,sugar pie honey bunch you know that i love yo...
2,1965,3,the rolling stones,i cant get no satisfaction,
3,1965,4,we five,you were on my mind,when i woke up this morning you were on my mi...
4,1965,5,the righteous brothers,youve lost that lovin feelin,you never close your eyes anymore when i kiss...
5,1965,6,petula clark,downtown,when youre alone and life is making you lonel...
6,1965,7,the beatles,help,help i need somebody help not just anybody hel...
7,1965,8,hermans hermits,cant you hear my heart beat,carterlewis every time i see you lookin my way...
8,1965,9,elvis presley,crying in the chapel,you saw me crying in the chapel the tears i s...
9,1965,10,the temptations,my girl,ive got sunshine on a cloudy day when its cold...
10,1965,11,the beach boys,help me rhonda,well since she put me down i ve been out doin ...
11,1965,12,roger miller,king of the road,trailer for sale or rent rooms to let fifty c...
12,1965,13,jewel akens,the birds and the bees,let me tell ya bout the birds and the bees and...
13,1965,14,mel carter,hold me thrill me kiss me,hold me hold me never let me go until youve t...
14,1965,15,junior walker the all stars,shotgun,i said Ì¢shotgun shoot em for he runs now do t...
15,1965,16,sonny cher,i got you babe,they say were young and we dont know we wont f...
16,1965,17,gary lewis the playboys,this diamond ring,who wants to buy this diamond ring she took it...
17,1965,18,ramsey lewis trio,the in crowd,instrumental
18,1965,19,hermans hermits,mrs brown youve got a lovely daughter,mrs brown youve got a lovely daughter girls a...
19,1965,20,the supremes,stop in the name of love,stop in the name of love before you break my ...
20,1965,21,the righteous brothers,unchained melody,oh my love my darling ive hungered for your t...
21,1965,22,hermans hermits,silhouettes,slaycrewetook a walk and passed your house la...
22,1965,23,the seekers,ill never find another you,theres a new world somewhere they call the pr...
23,1965,24,jay and the americans,cara mia,mantovani cara mia why must we say goodbye eac...
24,1965,25,the byrds,mr tambourine man,hey mr tambourine man play a song for me im n...
25,1965,26,sounds orchestral,cast your fate to the wind,a month of nights a year of days octobers drif...
26,1965,27,barbara mason,yes im ready,are you ready yes im ready are you ready yes i...
27,1965,28,tom jones,whats new pussycat,whats new pussycat woah woah whats new pussyc...
28,1965,29,barry mcguire,eve of destruction,the eastern world it is explodin violence fla...
29,1965,30,the mccoys,hang on sloopy,hang on sloopy sloopy hang on hang on sloopy s...
30,1965,31,the beatles,ticket to ride,i think im gonna be sad i think its today yeah...
31,1965,32,bert kaempfert,red roses for a blue lady,i want some red roses for a blue lady mister f...
32,1965,33,james brown,papas got a brand new bag,come here sister papas in the swing he aint t...
33,1965,34,wayne fontana the mindbenders,game of love,the purpose of a man is to love a woman and th...
34,1965,35,shirley ellis,the name game,shirley ellis miscellaneous the name game the ...
35,1965,36,petula clark,i know a place,every day when the work is behind you and the...
36,1965,37,the supremes,back in my arms again,ooooohall day long i hear my telephone ring f...
37,1965,38,barbara lewis,baby im yours,baby im yours and ill be yours until the star...
38,1965,39,the kingsmen,the jolly green giant,in the valley of the jolly heard about the jol...
39,1965,40,patti page,hush hush sweet charlotte,hush hush sweet charlotte charlotte dont you ...
40,1965,41,bob dylan,like a rolling stone,once upon a time you dressed so fine threw th...
41,1965,42,freddie and the dreamers,im telling you now,NaN
42,1965,43,gerry and the pacemakers,ferry cross the mersey,gerry miscellaneous ferry cross the mersey fer...
43,1965,44,the righteous brothers,just once in my life,theres alot of things i want a lot of things ...
44,1965,45,johnny rivers,the seventh son,NaN
45,1965,46,hermans hermits,im henery the eighth i am,NaN
46,1965,47,horst jankowski,a walk in the black forest,original is an instrumental music vocals recor...
47,1965,48,the yardbirds,for your love,for your love for your love for your love id g...
48,1965,49,the beach boys,california girls,well east coast girls are hip i really dig tho...
49,1965,50,the moody blues,go now,weve already said goodbye since you gotta go o...

Why does Rolling Stones (index 2) lyrics come up empty, but others (index 41, 44, 45) have NaN?
- there are 2 spaces in the lyrics, shown below

In [3]:
songs["Lyrics"][2]
len(songs["Lyrics"][2])

2

In [4]:
songs["Lyrics"][45]

nan

What other ways can you find lyrics ?
 - iloc slices to give you the whole row
 - loc is the indexing mechanism for label based indexing
     - this is the same here because we didn't label the indices

In [5]:
songs.iloc[48]
songs.loc[48]

Year                                                   1965
Rank                                                     49
Artist                                       the beach boys
Song                                       california girls
Lyrics    well east coast girls are hip i really dig tho...
Name: 48, dtype: object

Now we don't want the whole row
- iloc doesn't work the same way here because you can't use "Lyrics" but must use the index of the column

In [6]:
songs.loc[48,"Lyrics"]

'well east coast girls are hip i really dig those styles they wear and the southern girls with the way they talk they knock me out when im down there the midwest farmers daughter really makes you feel alright and the northern girls with the way they kiss they keep their boyfriends warm at night i wish they all could be california wish they all could be california i wish they all could be california girls the west coast has the sunshine and the girls all get so tan i dig a french bikini on hawiian island dollsby a palm tree in the sand i been all round this great big world and i seen all kinds of girls yeah but i couldnt wait to get back in the states back to the cutest girls in the world i wish they all could be california wish they all could be california i wish they all could be california girls i wish they all could be california wish they all could be california i wish they all could be california girls'

In [7]:
# ERROR BECAUSE MUST USE THE NUMBER
#songs.iloc[48,"Lyrics"]

songs.iloc[48,4]

'well east coast girls are hip i really dig those styles they wear and the southern girls with the way they talk they knock me out when im down there the midwest farmers daughter really makes you feel alright and the northern girls with the way they kiss they keep their boyfriends warm at night i wish they all could be california wish they all could be california i wish they all could be california girls the west coast has the sunshine and the girls all get so tan i dig a french bikini on hawiian island dollsby a palm tree in the sand i been all round this great big world and i seen all kinds of girls yeah but i couldnt wait to get back in the states back to the cutest girls in the world i wish they all could be california wish they all could be california i wish they all could be california girls i wish they all could be california wish they all could be california i wish they all could be california girls'

In [8]:
songs[['Artist']].head()
#type(songs['Artist'])

# Pandas series are 1d
# Pandas data frame, always 2d

                          Artist
0  sam the sham and the pharaohs
1                      four tops
2             the rolling stones
3                        we five
4         the righteous brothers

## (3) Sanity check
- Is the data complete? 
  - Are there really 50 years represented?
  - Does every year have all 100 entries? 
- Any missing or anomalous data? How to address them?

In [9]:
%pprint

Pretty printing has been turned OFF

Below isn't the best way to do it:
 - pandas > basic pandas methods

In [10]:
#len(set(songs["Year"]))

Pandas way:

In [11]:
#dir(songs['Year'])
#help(songs['Year'].unique)
songs['Year'].unique().size

# Error - no parenthesis for .size
#songs['Year'].unique().size()

51

In [12]:
#songs['Rank'].unique()
#dir(songs['Rank'])
songs['Rank'].value_counts()
songs['Rank'].value_counts().sort_index()

1      51
2      51
3      51
4      51
5      51
6      51
7      51
8      51
9      51
10     51
11     51
12     51
13     51
14     51
15     51
16     51
17     51
18     51
19     51
20     51
21     51
22     51
23     51
24     51
25     51
26     51
27     51
28     51
29     51
30     51
       ..
71     51
72     51
73     51
74     51
75     51
76     51
77     51
78     51
79     51
80     51
81     51
82     51
83     51
84     51
85     51
86     51
87     51
88     51
89     51
90     51
91     51
92     51
93     51
94     51
95     51
96     51
97     51
98     51
99     51
100    51
Name: Rank, Length: 100, dtype: int64

## (4) Accessing routines
- How to get songs from year 1965 vs. songs from year 2015?
- How to get number-1 hits only?
- How to get Madonna songs only?
- Madonna songs that are top 10? Year 2000 or later?

In [13]:
# Method 1:
newfilter = songs["Year"] == 2015    # boolean series
newsongs = songs.loc[newfilter,:]
newsongs.head()
newsongs.tail()
newsongs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 5000 to 5099
Data columns (total 5 columns):
Year      100 non-null int64
Rank      100 non-null int64
Artist    100 non-null object
Song      100 non-null object
Lyrics    98 non-null object
dtypes: int64(2), object(3)
memory usage: 4.7+ KB

In [14]:
# Method 2:
newsongs = songs.iloc[-100:,:]
newsongs.head()
newsongs.tail()

,Year,Rank,Artist,Song,Lyrics
5095,2015,96,nicky jam and enrique iglesias,el perdon,enrique iglesias dime si es verdad me dijeron ...
5096,2015,97,neyo featuring juicy j,she knows,NaN
5097,2015,98,one direction,night changes,going out tonight changes into something red ...
5098,2015,99,drake,back to back,oh man oh man oh man not againyeah i learned ...
5099,2015,100,calvin harris and disciples,how deep is your love,i want you to breathe me in let me be your ai...

In [15]:
# Method 1 without defining the filter previously
oldsongs = songs.loc[songs["Year"] == 1965,:]
oldsongs.head()
oldsongs.tail()
#oldsongs.info()

# Songs from 2000 to 2015 (2000 to the end of the data set)
millenial = songs.loc[songs["Year"] >= 2000,:]
millenial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 3500 to 5099
Data columns (total 5 columns):
Year      1600 non-null int64
Rank      1600 non-null int64
Artist    1600 non-null object
Song      1600 non-null object
Lyrics    1567 non-null object
dtypes: int64(2), object(3)
memory usage: 75.0+ KB

In [16]:
# Number 1
number_1=songs.loc[songs["Rank"]==1,:]
number_1.head()

,Year,Rank,Artist,Song,Lyrics
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...
100,1966,1,ssgt barry sadler,ballad of the green berets,NaN
200,1967,1,lulu,to sir with love,those school girl days of telling tales and b...
300,1968,1,the beatles,hey jude,hey jude dont make it bad take a sad song and ...
400,1969,1,the archies,sugar sugar,sugar honey honey you are my candy girl and y...

In [17]:
# Madonna Songs
len(songs.loc[songs["Artist"]=='madonna',:])
songs.loc[songs["Artist"]=='madonna',:]


# Madonna Songs Top 10
songs.loc[(songs["Artist"]=='madonna') & (songs["Rank"]<=10),:]


# Madonna Songs from 2000+

# DOES NOT WORK:
    #songs.loc[songs["Artist"]=='madonna' and songs["Year"]>=2000,:]
    
songs.loc[(songs["Artist"]=='madonna') & (songs["Year"]>=2000),:]

,Year,Rank,Artist,Song,Lyrics
3516,2000,17,madonna,music,hey mister dj put a record on i want to dance...
3633,2001,34,madonna,dont tell me,dont tell me to stop tell the rain not to dro...
4190,2006,91,madonna,hung up,time goes by so slowly time goes by so slowly...

## (5) Who are top artists?
- How many artists are represented?
- Which artists produced most hits?
- How many artists are one-hit wonders?

In [18]:
# python's built in method:
len(songs["Artist"].unique())

#Panda's better method:
songs["Artist"].unique().size     #cannot add () after .size

songs["Artist"].value_counts()[:20]

songs["Artist"].value_counts()[-20:]

# One Hit Wonders
    #can only specify 1 dimension in a series
songs["Artist"].value_counts()[songs["Artist"].value_counts()==1].size

1628

## (6) Create another column: lyric length in word count
- All symbols have been removed from lyrics
- So, `.split()` works as a rudimentary tokenizer

In [21]:
songs.head()
len(songs.loc[0,"Lyrics"].split())


# must take care of NaNs before splitting
# RUN #7 BEFORE THIS BOX

foo = songs[:50]
for x in foo["Lyrics"]:
    print(len(x.split()))

125
204
0
152
232
239
228
215
148
153
299
169
204
241
134
222
170
1
198
233
176
155
166
148
138
85
184
137
291
154
273
139
113
260
287
280
235
144
217
134
391
0
123
271
0
0
161
160
180
178


## (7) Filling in missing values
- We really need to take care of the missing lyric values. 
- What are good strategies? Considerations?

In [33]:
# replace NaN (and instrumental) with empty string

songs.fillna('')    #returning new data frame
songs[:50]          #not changed

#songs = songs.fillna('')
#songs[:50]

songs.fillna('', inplace = True)
songs.head()

,Year,Rank,Artist,Song,Lyrics,Length,Tokens
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...,125,"[sam, the, sham, miscellaneous, wooly, bully, ..."
1,1965,2,four tops,i cant help myself sugar pie honey bunch,sugar pie honey bunch you know that i love yo...,204,"[sugar, pie, honey, bunch, you, know, that, i,..."
2,1965,3,the rolling stones,i cant get no satisfaction,,0,[]
3,1965,4,we five,you were on my mind,when i woke up this morning you were on my mi...,152,"[when, i, woke, up, this, morning, you, were, ..."
4,1965,5,the righteous brothers,youve lost that lovin feelin,you never close your eyes anymore when i kiss...,232,"[you, never, close, your, eyes, anymore, when,..."

In [57]:
# LIST COMPREHENSION
#[x for x in [1,2,3,4]]

toklengths = [len(x.split()) for x in foo['Lyrics']]
toklengths[:100]

# data frame column is a data frame series
songs["Length"] = pd.Series(toklengths)
songs.head()


#defining function ahead of time
def tokenize(txt):
    return txt.split()

songs['Tokens'] = songs["Lyrics"].map(tokenize)
songs.head()


#defining simple function and then throw away USING LAMBDA
    #use on the fly without giving a name
songs['tokens2'] = songs["Lyrics"].map(lambda x: x.split())
songs.head()

del songs["tokens2"]
songs.head()


def get_avg_len(toks):
    lens = [len(t) for t in toks]
    if lens(toks) == 0: return 0
    else: return sum(lens)/len(lens)
    
sent = "colorless ideas sleep furiously".split()
sent
# get_avg_len(sent)
#songs[avg_wd_len] = songs["Tokens"].map(get_avg_len)

['colorless', 'ideas', 'sleep', 'furiously']

## (8) A detour: text processing basics
- NLTK functions
- How to word-tokenize
- How to sentence-tokenize
- Frequency distribution
- Type-token ratio

In [49]:
# SEE LAB13 for more nltk info 
import nltk
nltk.corpus.brown.words()
nltk.word_tokenize("Hello, world!")

#type token ratio TTR
    #measure for vocabulary richness
    #but as text length gets longer, variety does not increase linearly, and there is a ceiling
    #must compare 2 texts of equal lengths!!!!

rose = "rose is a rose is a rose is a rose".split()
rose
len(set(rose))

def get_ttr(toks):
    if len(toks) ==0: return 0
    else: return len(set(toks))/len(toks)

get_ttr(rose)

#0 division error unless and if statement to the function
songs['ttr']=songs['Tokens'].map(get_ttr)
songs.head()

,Year,Rank,Artist,Song,Lyrics,Length,Tokens,ttr
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...,125.0,"[sam, the, sham, miscellaneous, wooly, bully, ...",0.512000
1,1965,2,four tops,i cant help myself sugar pie honey bunch,sugar pie honey bunch you know that i love yo...,204.0,"[sugar, pie, honey, bunch, you, know, that, i,...",0.460784
2,1965,3,the rolling stones,i cant get no satisfaction,,0.0,[],0.000000
3,1965,4,we five,you were on my mind,when i woke up this morning you were on my mi...,152.0,"[when, i, woke, up, this, morning, you, were, ...",0.289474
4,1965,5,the righteous brothers,youve lost that lovin feelin,you never close your eyes anymore when i kiss...,232.0,"[you, never, close, your, eyes, anymore, when,...",0.379310

## (9) 50 years apart: songs from 1965 vs. 2015
- Let's create two corpora of 1965 lyrics vs. 2015 lyrics
- Good ways to highlight differences?

In [ ]:
# Your code here

## (10) A different take: multi-level index
- Alternative organization: use year-and-rank combination as index 
- Create a copy of `songs` as `songs2` DataFrame
- How does accessing work in this DF?

In [ ]:
# Your code here

## (11) Discussion: data curation method, presentation
- How did Walker collect her song lyrics data?
- What tools did she use?
- How successful was her effort?
- How did she present her work, and what are your thoughts?

Your notes here in markdown